@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {

}

@keyframes load {
  0% { width: 0% }
  16.67% { width: 16.67% }
  33.34% { width: 33.34% }
  50.01% { width: 50.01% }
  66.68% { width: 66.68% }
  83.35% { width: 83.35% }
  100% { width: 100% }
}

.loading-bar {
  animation: load 6s linear infinite;
}
